.containerFooter
{
    height: 50px;
    display:flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;

    
}
.social
{
    display: flex;
    align-items: center;
  gap: 20px;
    cursor: pointer;
}
.social :hover
{
    opacity: .6;
}
